<p id="notice"><%= notice %></p>

<h2>Lists</h2>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Was bought</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @lists.each do |list| %>
    <tr>
      <td><%= list.title %></td>
      <td><%= list.was_bought %></td>
      <td><%= link_to icon('fas', 'eye'), list %></td>
      <td><%= link_to icon('fas', 'edit'), edit_list_path(list) %></td>
      <td><%= link_to icon('fas', 'trash-alt'), list, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New List', new_list_path %>